.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;

}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

#navbar{

background-color: #181D31


}
.navv{
  color:white;
  font-size: 1.5rem;
}
.header-right {
  float: right;
}
.nav-link{
margin-left:15px;
}
.box{
  border-radius: 100px;
}
.submit-box{
    border-radius: 100px;
}
.img-heading{
  margin-bottom: 30%;
color:black;
  font-size: 3.5rem;
}
.img2{
  margin-bottom: 30%;

  font-size: 3.5rem;
  color:white;
}
.imgp{
  color:white;

}
.img-2{
  color:black;
  font-weight: bold;
}
.button-img{
  margin-bottom: 20px;
  padding:10px;
  border-radius: 100px;
}
.button-img:hover{
  background-color: white;
color:#009DAE;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
h4{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
